
.quote-container{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
.quote{
  width:600px;
  background-color: white;
  padding: 40px;
  font-size: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
}
.quote-auther{
  font-size: 18px;
  text-align: right;
  padding: 10px;
}
.buttons{
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.buttons span{
  margin-right: 15px;
}
.buttons button{
  color: white;
  font-size: 15px;
  border: none;
  float: right;
  padding: 10px;
  border-radius: 5px;
}
.buttons span:last-child {
  margin-left: auto;
}